networks:
  net:

volumes:
  certs:
  # hanko-db-prod:
  hanko-db-dev:

services:
  # ==================
  # TRAEFIK (Always running for both dev and prod)
  # ==================

  # reverse proxy for load balance and certs
  traefik:
    image: 'traefik:v3.4.3'
    container_name: 'traefik'
    volumes:
      - certs:/letsencrypt
      # We run rootless as user 1000!
      - /var/run/user/1000/docker.sock:/var/run/user/1000/docker.sock:ro
    networks:
      - net
    labels:
      traefik.enable: 'false'  # no dashboard
    ports:
      - '80:80'
      - '443:443'
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.endpoint=unix:///var/run/user/1000/docker.sock"
      - "--entrypoints.http=true"
      - "--entrypoints.http.address=:80"
      - "--entrypoints.http.http.redirections.entrypoint.to=https"
      - "--entrypoints.http.http.redirections.entrypoint.scheme=https"
      - "--entryPoints.https.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.tlschallenge=true"
      # For staging test
      # - "--certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.letsencrypt.acme.email=sysadmin@hotosm.org"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
    restart: unless-stopped

#   # ==================
#   # PRODUCTION SERVICES (profile: prod)
#   # ==================

#   # db migrations
#   migrations:
#     image: ghcr.io/teamhanko/hanko:v2.1.0
#     volumes:
#       - ./config.yaml:/etc/config/config.yaml
#     command: --config /etc/config/config.yaml migrate up
#     depends_on:
#       db:
#         condition: service_healthy
#     networks:
#       - net
#     restart: "on-failure:2"
#     profiles:
#       - prod

#   # the main hanko service
#   hanko:
#     depends_on:
#       migrations:
#         condition: service_completed_successfully
#     image: ghcr.io/teamhanko/hanko:v2.1.0
#     command: serve --config /etc/config/config.yaml all
#     volumes:
#       - ./config.yaml:/etc/config/config.yaml
#     networks:
#       - net
#     environment:
#       - PASSWORD_ENABLED
#     restart: unless-stopped
#     labels:
#       traefik.enable: 'true'
#       traefik.http.routers.hanko.rule: 'Host(`login.hotosm.org`)'
#       traefik.http.routers.hanko.entrypoints: https
#       traefik.http.routers.hanko.tls: 'true'
#       traefik.http.routers.hanko.tls.options: 'default'
#       traefik.http.routers.hanko.tls.certresolver: letsencrypt
#       traefik.http.services.hanko.loadbalancer.server.port: '8000'
#     profiles:
#       - prod

#   # the hanko database
#   db:
#     image: postgres:17-alpine
#     environment:
#       - POSTGRES_USER=${POSTGRES_USER:-hanko}
#       - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-hanko}
#       - POSTGRES_DB=${POSTGRES_DB:-hanko}
#     volumes:
#       - hanko-db-prod:/var/lib/postgresql/data/
#     healthcheck:
#       test: pg_isready -U hanko -d hanko
#       interval: 10s
#       timeout: 10s
#       retries: 3
#       start_period: 30s
#     networks:
#       - net
#     restart: unless-stopped
#     profiles:
#       - prod

#  # custom login backend
#   backend:
#     image: ghcr.io/hotosm/login-backend:latest
#     build:
#       context: ./backend
#       dockerfile: Dockerfile
#       target: production
#     networks:
#       - net
#     restart: unless-stopped
#     labels:
#       traefik.enable: 'true'
#       traefik.http.routers.backend.rule: 'Host(`login.hotosm.org`) && PathPrefix(`/api`)'
#       traefik.http.routers.backend.entrypoints: https
#       traefik.http.routers.backend.tls: 'true'
#       traefik.http.routers.backend.tls.certresolver: letsencrypt
#       traefik.http.services.backend.loadbalancer.server.port: '8000'
#       traefik.http.routers.backend.priority: '10'
#     profiles:
#       - prod

#   # custom login frontend
#   frontend:
#     image: ghcr.io/hotosm/login-frontend:latest
#     build:
#       context: ./frontend
#       dockerfile: Dockerfile
#       target: production
#     networks:
#       - net
#     restart: unless-stopped
#     labels:
#       traefik.enable: 'true'
#       traefik.http.routers.frontend.rule: 'Host(`login.hotosm.org`) && (PathPrefix(`/app`) || PathPrefix(`/login`))'
#       traefik.http.routers.frontend.entrypoints: https
#       traefik.http.routers.frontend.tls: 'true'
#       traefik.http.routers.frontend.tls.certresolver: letsencrypt
#       traefik.http.routers.frontend.middlewares: frontend-stripprefix
#       traefik.http.middlewares.frontend-stripprefix.stripprefix.prefixes: '/app,/login'
#       traefik.http.services.frontend.loadbalancer.server.port: '80'
#     profiles:
#       - prod

  # hanko elements
  elements:
    image: ghcr.io/teamhanko/hanko/elements:v2.1.0
    networks:
      - net
    restart: unless-stopped
    labels:
      traefik.enable: 'true'
      traefik.http.routers.elements.rule: 'Host(`elements.login.hotosm.org`)'
      traefik.http.routers.elements.entrypoints: https
      traefik.http.routers.elements.tls: 'true'
      traefik.http.routers.elements.tls.certresolver: letsencrypt
      traefik.http.services.elements.loadbalancer.server.port: '80'
    profiles:
      - prod

  # hanko quickstart demo
  quickstart:
    image: ghcr.io/teamhanko/hanko/quickstart:v2.1.0
    environment:
      - HANKO_URL=https://dev.login.hotosm.org
      - HANKO_URL_INTERNAL=http://hanko:8000
      - HANKO_ELEMENT_URL=https://elements.login.hotosm.org/elements.js
      - HANKO_FRONTEND_SDK_URL=https://elements.login.hotosm.org/sdk.modern.js
    networks:
      - net
    restart: unless-stopped
    labels:
      traefik.enable: 'true'
      traefik.http.routers.quickstart.rule: 'Host(`demo.login.hotosm.org`)'
      traefik.http.routers.quickstart.entrypoints: https
      traefik.http.routers.quickstart.tls: 'true'
      traefik.http.routers.quickstart.tls.certresolver: letsencrypt
      traefik.http.services.quickstart.loadbalancer.server.port: '8080'
    profiles:
      - prod

  # osm userinfo service
  osm-userinfo:
    image: ghcr.io/hotosm/login-osm-userinfo:latest
    build:
      context: ./osm-userinfo
      dockerfile: Dockerfile
    networks:
      - net
    restart: unless-stopped
    profiles:
      - prod

  # ==================
  # DEVELOPMENT SERVICES (profile: dev)
  # ==================

  # db migrations dev
  migrations-dev:
    image: ghcr.io/teamhanko/hanko:v2.1.0
    volumes:
      - ./config_dev.yaml:/etc/config/config.yaml
    command: --config /etc/config/config.yaml migrate up
    depends_on:
      db-dev:
        condition: service_healthy
    networks:
      - net
    restart: "on-failure:2"
    profiles:
      - dev

  # the main hanko service dev
  hanko-dev:
    depends_on:
      migrations-dev:
        condition: service_completed_successfully
    image: ghcr.io/teamhanko/hanko:v2.1.0
    command: serve --config /etc/config/config.yaml all
    volumes:
      - ./config_dev.yaml:/etc/config/config.yaml
    networks:
      - net
    environment:
      - PASSWORD_ENABLED
    restart: unless-stopped
    labels:
      traefik.enable: 'true'
      traefik.http.routers.hanko-dev.rule: 'Host(`dev.login.hotosm.org`)'
      traefik.http.routers.hanko-dev.entrypoints: https
      traefik.http.routers.hanko-dev.tls: 'true'
      traefik.http.routers.hanko-dev.tls.options: 'default'
      traefik.http.routers.hanko-dev.tls.certresolver: letsencrypt
      traefik.http.services.hanko-dev.loadbalancer.server.port: '8000'
    profiles:
      - dev

  # the hanko data dev
  db-dev:
    image: postgres:17-alpine
    environment:
      - POSTGRES_USER=hanko
      - POSTGRES_PASSWORD=hanko
      - POSTGRES_DB=hanko
    volumes:
      - hanko-db-dev:/var/lib/postgresql/data/
    healthcheck:
      test: pg_isready -U hanko -d hanko
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - net
    restart: unless-stopped
    profiles:
      - dev

  # custom login backend dev
  backend-dev:
    env_file: .env
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: dev
    networks:
      - net
    restart: unless-stopped
    labels:
      traefik.enable: 'true'
      traefik.http.routers.backend-dev.rule: 'Host(`dev.login.hotosm.org`) && PathPrefix(`/api`)'
      traefik.http.routers.backend-dev.entrypoints: https
      traefik.http.routers.backend-dev.tls: 'true'
      traefik.http.routers.backend-dev.tls.certresolver: letsencrypt
      traefik.http.services.backend-dev.loadbalancer.server.port: '8000'
      traefik.http.routers.backend-dev.priority: '10'
    profiles:
      - dev

  # custom login frontend dev
  frontend-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    networks:
      - net
    restart: unless-stopped
    labels:
      traefik.enable: 'true'
      traefik.http.routers.frontend-dev.rule: 'Host(`dev.login.hotosm.org`) && (PathPrefix(`/app`) || PathPrefix(`/login`))'
      traefik.http.routers.frontend-dev.entrypoints: https
      traefik.http.routers.frontend-dev.tls: 'true'
      traefik.http.routers.frontend-dev.tls.certresolver: letsencrypt
      traefik.http.routers.frontend-dev.middlewares: frontend-dev-stripprefix
      traefik.http.middlewares.frontend-dev-stripprefix.stripprefix.prefixes: '/app,/login'
      traefik.http.services.frontend-dev.loadbalancer.server.port: '5174'
    profiles:
      - dev
