site_name: HOTOSM Auth
site_description: Authentication documentation for HOTOSM applications
site_url: https://hotosm.github.io/auth-docs

repo_name: hotosm/login
repo_url: https://github.com/hotosm/login

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: red
      accent: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - toc.integrate
    - search.highlight
    - search.share
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - offline

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Architecture:
    - Overview: overview.md
    - Python Libraries: python-libs.md
    - Web Component: web-component.md
  - Integration Guide: integration-guide.md
  - Implementations:
    - Portal: projects/portal.md
    - Drone-TM: projects/drone-tm.md
    - fAIr: projects/fair.md
    - OpenAerialMap: projects/oam.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/hotosm
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/hotabordeador
